@import "./variables";

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #fafffd,
    #f7fffc,
    #eafff7
  );

  h1 {
    font-size: 3rem;
    color: $black;
  } p {
    font-size: 18px;
    min-width: 450px;
    width: 40%;
    color: #262626;
  }

  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 50px 0;

    .text-content {
      display: flex;
      flex-direction: column;
      text-align: start;
      width: 50%;
      max-width: 550px;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
        color: $black;
      }

      p {
        line-height: 1.6;
        color: #333;
      }
    }

    .img-content {
      height: 500px;
      width: 50%;
      max-width: 650px;
      border-radius: 24px;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 26px 22px;
      min-height: 200px;
      height: auto;
      width: 300px;

      background: #ffffff;
      border-radius: 18px;
      border: 1px solid rgba(0, 0, 0, 0.05);

      box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.06),
        0 8px 25px rgba(0, 0, 0, 0.08);

      transition: transform 0.25s ease, box-shadow 0.25s ease;

      &:hover {
        transform: translateY(-6px);
        box-shadow:
          0 8px 20px rgba(0, 0, 0, 0.08),
          0 12px 35px rgba(0, 0, 0, 0.12);
      }

      .icon {
        background: rgba($lime, 0.15);
        padding: 14px 20px;
        border-radius: 50px;

        i {
          font-size: 1.5em;
          color: $lime;
        }
      }

      p:nth-child(2) {
        min-width: 200px;
        max-width: 350px;
        font-weight: 700;
        font-size: 16px;
        color: #222;
        margin-top: 8px;
        width: 100%;
      }

      p:nth-child(3) {
        min-width: 200px;
        max-width: 300px;
        font-size: 12px;
        opacity: 0.85;
        width: 85%;
        line-height: 1.5;
      }
    }
  }
}
