#amenities {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: linear-gradient(
    to bottom,
    #eafff7,
    #f7fffc,
    #fafffd,
    #ffffff
  );

  .header {
    span {
      color: darken($lime, 7%);
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    
    .card {
      height: 300px;
      border-radius: 18px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.25);

      &:hover img {
        transform: scale(1.04);        
      }

      & img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .3s ease-in-out ;
        
  
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7));
        background-color: rgba(125, 125, 125, 0.15); 
        z-index: 2;
      }

      .text-overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $white;
        z-index: 2;
      }
    }
  }

  .desc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 1200px;
    margin: 0 20px;
    width: auto;

    .desc-offer {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      margin-left: 6px;
      box-shadow: -6px -4px 10px rgba(23, 150, 110, 0.2);
      border-radius: 50px;
      padding: 10px 20px;

      &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
      }

      i {
        font-size: 23px;
        color: $lime;
      } p {
        font-size: 16px;
        color: #373737;
      }
    }
  }
}