#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  margin: 4rem 0;

  .row-card {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .send-message {
      display: flex;
      flex-direction: column;
      border: $lime_border;
      border-radius: 20px;
      min-width: 350px;
      width: 550px;
      padding: 20px 25px;
      gap: 10px;
      box-shadow: 0 0 20px rgba($black, 0.2);

      .input-box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 20px;

        label {
          font-weight: 600;
          font-size: 15px;
        }

        .textbox {
          border: 1px solid #d4d4d4;
          border-radius: 10px;
          padding: 8px 10px;
          min-height: 200px;

          &:focus {
            outline: none;
            border: 1px solid $black;
          }
        }

        input {
          border-radius: 10px;
          border: none;
          border: 1px solid #d4d4d4;
          padding: 8px 10px;

          &:focus {
            outline: none;
            border: 1px solid #000000;
          }
        }
      }

      button {
        font-size: 16px;
        font-weight: 600;
        color: $white;
        background: $lime;
        border: none;
        padding: 17px;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
          background: lighten($lime, 3%);
        } 
      }

      hr {
        margin: 25px 0;
        border: 0.5px solid #d4d4d4;
      }

      p {
        font-size: 20px;
        font-weight: 700;
      }

      .contact-us {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: darken($lime, 3%);
          font-size: 21px;
        }
      }
    }

    .check-avail {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border: $lime_border;
      border-radius: 20px;
      padding: 20px;
      max-width: 600px;
      box-shadow: 0 0 20px rgba($black, 0.2);

      h3 {
        margin-top: 15px;
        color: $black;
        font-weight: 600;
      }

      .calendar-box {
        border: $lime_border;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .note {
      margin-top: 15px;
      background: lighten(rgba($lime, 0.25), 10%);
      color: #343434;
      padding: 15px;
      border-radius: 15px;

      span {
        font-weight: 700;
      }
    }
  }
}