footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $navy_blue;
  padding: 4rem 0 1rem;

  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1.5rem;

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 500px));
      gap: 2rem ;

      .casa {
        h2 {
          color: lighten($lime, 20%);
        }
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          color: $white;
        } p {
          color: #9ca3af;
        } ul li {
          color: #9ca3af;
          list-style-type: none;
          margin: 8px 0;
          width: max-content;
          cursor: pointer;

          &:hover {
            color: lighten($lime, 20%);
          }
        }

        .contact-us {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 10px;
          color: #9ca3af;

          i {
            color: $lime;
          }
        }

        .page-link {
          display: flex;
          flex-direction: row;
          gap: 15px;
          width: max-content;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: $lime;
            border-radius: 50px;
            padding: 12px 15px;
            text-decoration: none;
            color: $white;

            &:hover {
              background: darken($lime, 10%);
            }

            i {
              font-size: 16px;
              width: 15px;
            }
          }
        }
      }
    }

    .footer-credits {
      border-top: 1px solid #1f2937;
      width: 100%;
      color: #9ca3af;
      padding: 1.5rem 6px;
    }
  }
}