@import './_variables';

#hero {
  height: 100vh;
  width: 100vw;
  background: rgba($black, 0.2);
  position: relative;

  .background-img {
    height: 100%;
    width: 100%;

    img {
      object-position: center;
      height: 100%;
      width: 100%;
    }

    img.show {
      animation: fade .5s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(125, 125, 125, 0.1); 
      z-index: 1;
    } 
  }
  
  .arrow {
    position: absolute;
    color: $white;
    bottom: 12%;
    left: 50%;

    & i {
      position: absolute;
      text-shadow: 0 0 20px rgb(0, 0, 0);  
      font-size: 35px;
      animation: jumping 1s infinite alternate linear;
    }
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);  
    gap: 15px;
    z-index: 2;

    & h1 {
      color: $white;
      font-size: 4rem;
    } & p {
      font-size: 1.3em;
      color: $white;
    } & button {
      margin-top: 20px;
      background: $lime;
      border: none;
      color: $white;
      padding: 12px 24px;
      font-size: 1.15em;
      font-weight: 600;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: lighten($lime, 4%);
      }
    }
  }
}

@keyframes jumping {
  0% {
    transform: translateY(10px);
  } 100% {
    transform: translateY(30px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}