#reviews {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #fafffd,
    #f7fffc,
    #f2fffa,
    #f1fffa,
    #f0fffa,
    #eafff7
  );

  .header {

    p {
      min-width: 10px !important;
    }

    .counts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: max-content;

      img {
        height: 25px;
      }

      p {
        font-weight: 700;
        color: $black;
        font-size: 24px;
      }

      span {
        display: flex;
        color: #666;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      width: 90%;
      max-width: 1200px;
      margin: 30px auto;

      .card {
        display: flex;
        flex-direction: column;
        gap: 35px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;

        .info-header {
          display: flex;
          justify-content: space-between;

          .name {
            font-weight: 700;
            font-size: 18px;
          }

          .date {
            font-size: 14px;
            color: #666;
          }

          .stars {
            height: 15px;

            img {
              height: 100%;
            }
          }
        }
      }
    }

    button {
      display: flex;
      gap: 6px;
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 16px;
      color: #666;
      cursor: pointer;
      background: rgba($lime, 0.5);
      color: rgba(darken($lime, 26%), 0.5);

      &:hover {
        background: rgba($lime, 0.8);
      }
    }

    a {
      color: $lime;
      text-align: center;
      margin-top: 20px;
    }
  }

  .modal-overlay {
    @include fullscreen-overlay(rgba($black, 0.5), 1000);

    .review-box {
      position: relative;
      background: $white;
      border-radius: 10px;
      padding: 30px;
      width: 90%;
      max-width: 500px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

      .close-btn {
        @include close-btn; 
      }

      .input-box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 20px;

        label {
          font-weight: 600;
          font-size: 15px;
        }

        .textbox {
          border: 1px solid $form_border;
          border-radius: 10px;
          padding: 8px 10px;
          min-height: 200px;

          &:focus {
            outline: none;
            border: 1px solid $black;
          }
        }

        input {
          border-radius: 10px;
          border: none;
          border: 1px solid $form_border;
          padding: 8px 10px;

          &:focus {
            outline: none;
            border: 1px solid #000000;
          }
        }
      }

      .write-review-box {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        min-height: 150px;
        height: 100%;
        overflow: hidden;

        textarea {
          align-self: flex-start;
          min-height: 150px;
          max-height: 450px;
          width: 100%;
          padding: 10px 0;
          border: none;
          overflow: hidden;
          resize: none;

          &:focus {
            outline: none;
          }
        }
      }

      .action-button {
        height: max-content;
        display: flex;
        gap: 10px;
        bottom: 15px;
        right: 15px;

        .send-btn {
          border: none;
          color: $white;
          padding: 10px 20px;
          border-radius: 50px;
          background: #1d9dff;
          cursor: pointer;
        }

        .add-media-btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: none;
          height: max-content;
          cursor: pointer;
        }
      }
    }
  }
}