:root {
  --bg-nav: rgba(0, 0, 0, 0.25);
  --text-nav: #fff;
  --text-casa: #fff;
}

$white: #fff;
$black: #000;
$lime: #17966e;
$lime_border: 2px solid lighten(rgba($lime, 0.3), 20%);
$navy_blue: #111827;