@import './styles/_variables';
@import './styles/_header';
@import './styles/_hero';
@import './styles/_about';
@import './styles/_amenities';
@import './styles/_gallery';
@import './styles/_reviews';
@import './styles/_location';
@import './styles/_contact';
@import './styles/_calendar';
@import './styles/_footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: $lime;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

#root {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;

  h1 {
    font-size: 3rem;
    color: $black;
  } p {
    font-size: 18px;
    min-width: 450px;
    width: 40%;
    color: #262626;
  }
}