@import './styles/_variables';
@import './styles/_header';
@import './styles/_hero';
@import './styles/_about';
@import './styles/_amenities';
@import './styles/_gallery';
@import './styles/_reviews';
@import './styles/_location';
@import './styles/_contact';
@import './styles/_calendar';
@import './styles/_footer';
@import './styles/_bookingmodal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

html, body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: $lime;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

#root {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;

  h1 {
    font-size: 3rem;
    color: $black;
  } p {
    font-size: 18px;
    min-width: 450px;
    width: 40%;
    color: #262626;
  }
}

.submit-successful {
  position: absolute;
  display: flex;
  align-items: center;
  color: lighten($lime, 34%);
  padding: 16px 20px;
  border-radius: 12px;
  width: 325px;
  top: 20px;
  right: 20px;
  gap: 10px;
  background: lighten(darken($lime, 26%), 2%);
  border: 1px solid lighten($lime, 8%);
  z-index: 999999;
  animation: slideDown 0.5s ease forwards;

  i {
    font-size: 21px;
  } p {
    font-size: 14px;
  }
}

.submit-successful.close {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
  
}